!! Colorscheme

! special
*.foreground:   #EEEEEC
*.background:   #000000
*.cursorColor:  #a8a8a8
/* emacs*background: #f6f3e8 */

! black
*.color0:       #1d1f21
*.color8:       #969896

! red
*.color1:       #A73C3C
*.color9:       #CC5252

! green
*.color2:       #4C8B5F
*.color10:      #69973C

! yellow
*.color3:       #FFE058
*.color11:      #FFF182

! blue
*.color4:       #3465A4
*.color12:      #739FCF

! magenta
*.color5:       #9473b5
*.color13:      #9473b5

! cyan
*.color6:       #1d979f
*.color14:      #1d979f

! white
*.color7:       #c5c8c6
*.color15:      #ffffff

!! URxvt Appearance
URxvt*font: xft:monospace:size=9.85:style=regular
URxvt.letterSpace: 0
URxvt.lineSpace: 0
URxvt.cursorBlink: true
URxvt.cursorUnderline: false
URxvt.saveline: 2048
URxvt*scrollBar: false
URxvt.scrollBar_right: true
URxvt.urgentOnBell: false
URxvt.depth: 24
URxvt.iso14755: false

!! Common Keybinds for Navigations
URxvt.keysym.Shift-Up: command:\033]720;1\007
URxvt.keysym.Shift-Down: command:\033]721;1\007
URxvt.keysym.Control-Up: \033[1;5A
URxvt.keysym.Control-Down: \033[1;5B
URxvt.keysym.Control-Right: \033[1;5C
URxvt.keysym.Control-Left: \033[1;5D

!! Copy Paste & Other Extensions
URxvt.perl-ext-common: default,clipboard,url-select,keyboard-select
URxvt.copyCommand: xclip -i -selection clipboard
URxvt.pasteCommand: xclip -o -selection clipboard
URxvt.keysym.M-c: perl:clipboard:copy
URxvt.keysym.M-v: perl:clipboard:paste
URxvt.keysym.M-C-v: perl:clipboard:paste_escaped
URxvt.keysym.M-Escape: perl:keyboard-select:activate
URxvt.keysym.M-s: perl:keyboard-select:search
URxvt.keysym.M-u: perl:url-select:select_next
URxvt.urlLauncher: firefox
URxvt.underlineURLs: true
URxvt.urlButton: 1
URxvt.keysym.C-+:     font-size:increase
URxvt.keysym.C--:   font-size:decrease
URxvt.keysym.C-S-Up:   font-size:incglobal
URxvt.keysym.C-S-Down: font-size:decglobal
URxvt.keysym.C-equal:  font-size:reset
URxvt.keysym.C-slash:  font-size:show
