@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

/* hide navigation bar when it is not focused; use Ctrl+L to get focus */
#main-window:not([customizing]) #navigator-toolbox:not(:focus-within):not(:hover) {
  margin-top: -30px;
}

#navigator-toolbox {
  transition: 0.2s margin-top ease-out;
}

#navigator-toolbox::after {
  border-bottom: 0px !important;
}
#nav-bar {
  box-shadow: none !important;
  border: none !important;
}

/* hide the "Tree Style Tab" header at the top of the sidebar (only Tree Style Tab sidebar) */
#sidebar-box[sidebarcommand="treestyletab_piro_sakura_ne_jp-sidebar-action"] #sidebar-header {
  display: none;
}

 /* Move Tab-bar beside Nav-bar */
#TabsToolbar {      
  margin-bottom: 0px !important;
  margin-top: 1px !important; 
  margin-left: 40vw !important;
  margin-right: -106px !important;
  max-height: 32px !important;
}

.tab-line {
  background-color: #426477 !important;
  height: 1.5px !important;
  }


#nav-bar {      
  margin-bottom: 0px !important; 
  margin-top: -33px !important;
  margin-right: 57vw !important; 
  border-top: none !important;
}   

/* Remove padding above tabbar in compact mode */
#main-window[sizemode="normal"] > #titlebar {
  -moz-appearance: initial !important;
}

/* Back & Forward buttons */  
#back-button > .toolbarbutton-icon,
#forward-button > .toolbarbutton-icon {
  transform: scale(0.9, 0.9) !important;
  margin-left: -2px !important;
  margin-right: -2px !important; 
}

/* Move hamburger menu to the left */
#PanelUI-button,
#customization-panel-container,
#customization-panelWrapper .panel-arrow { 
  -moz-box-ordinal-group: 0 !important;
  margin-right: -6px !important;
}

#appMenu-popup {
  margin-right: -258px !important;
}

#appMenu-popup .panel-arrow {
  margin-right: 248px !important;
}

/* More tools... button */
#nav-bar-overflow-button { 
  transform: scale(0.9, 0.9) !important;
  fill: var(--color-overflow) !important;
}

.tabbrowser-tab::after, .tabbrowser-tab::before {
  border-left: none !important;
}

/* Show close buttons on hover */
.tabbrowser-tab:not(:hover) .tab-close-button{ display:none; }
.tabbrowser-tab:not([pinned]):hover .tab-close-button{ display:block !important; }

#titlebar-max {
  -moz-box-ordinal-group: 0;
}

#titlebar-content {
  direction: rtl;
}

#TabsToolbar {
  direction: rtl;
}

#tabbrowser-tabs {
  direction: ltr;
}
